img
  padding 5px
  border 1px solid #cccccc
  border-radius 5px
  margin 2px

.similar-images img
  cursor pointer

.similar-images img:hover
  box-shadow 0 0 10px #000

//.taxanomy
//  for l in (1..16)
//    strong:nth-child({l})
//      padding-left: (l - 1) * 1em
