img
  padding 5px
  border 1px solid #cccccc
  border-radius 5px
  margin 2px

.similar-images img
  cursor pointer

.similar-images img:hover
  box-shadow 0 0 10px #000
.hide-sm
  @media screen and (max-width: 600px)
    display none